{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'lecture1/styles.css' %}">
    <link rel="shorcut icon" href="{% static 'lecture1/favicon.ico' %}">
    <title>Document</title>
</head>
<body>
    <h1>Hello from template</h1>
    <h2>Hello, {{name}}</h2>

    {%if flag%}
        <h3>flag is true</h3>
    {%else%}
         <h3>flag is false</h3>
    {%endif%}
</body>
</html>